mixin separated-datepicker(firstLabel, secondLabel, firstPlaceholder, secondPlaceholder, arrowIcon)
    .separated-datepicker
        label.separated-datepicker__label= firstLabel
            input(type=text placeholder=firstPlaceholder readonly).js-separated-datepicker.js-separated-datepicker__first
            span.arrow.separated-datepicker__arrow= arrowIcon
        label.separated-datepicker__label= secondLabel
            input(type=text placeholder=secondPlaceholder readonly).js-separated-datepicker.js-separated-datepicker__second
            span.arrow.separated-datepicker__arrow= arrowIcon