mixin dropdown( title, placeholder, input_field, parameters, clear_btn, apply_btn, isHidden)
    .dropdown
        h3.dropdown__title= title
        input(type=text, placeholder=placeholder).dropdown__field
        ul(data-input-field=input_field, data-parameters=parameters, data-clear-btn=clear_btn, data-ishidden=isHidden).dropdown__hidden-part