include ../room-number/room-number
include rating/rating

mixin room-card(list)
  each item in list
    .room-card
      if item.switchable
        .room-card__switchable-part
          .room-card__arrow.room-card__arrow-left chevron_left
          img.room-card__img(src=require(`../../images/${item.link}`))
          .room-card__arrow.room-card__arrow-right chevron_left
      else
        img.room-card__img(src=require(`../../images/${item.link}`))
      .room-card__round-switch-btns
        span.room-card__round-switch-btn.room-card__round-switch-btn--filled
        span.room-card__round-switch-btn
        span.room-card__round-switch-btn
        span.room-card__round-switch-btn
      .room-card__info
        .room-card__price-row
          +room-number(item.number, item.isLuxury, item.price)
        .room-card__rating-row
          .room-card__cell
            +rating(item.rating)
          .room-card__cell
            p.room-card__comments-amount= item.comments
            p.room-card__comments Отзывов